.buttons{
    display : flex;
    justify-content: space-between;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center;  
  width: 200px;
  height: 200px;
  background: white;
  color: black;
  border: 2px solid #ccc;
  border-radius: 15px;
  gap: 10px;                
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.2s;
}

button:hover {
  border-color: black;
  transform: scale(1.03);
}

.identity-icon {
  font-size: 150px;          
}
