.auth-card {
  width: 350px;
  margin: 120px auto;
  padding: 30px;
  background: #ffffff;
  border: 2px solid blue;
  border-radius: 16px;
  box-shadow: 0px 8px 24px rgba(0,0,0,0.08);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: blue;
}

.auth-card p {
  margin-bottom: 35px;
  color: black;
}

.auth-card > div {
  display: flex;
  justify-content: center;
}
